:root{
    /*FONT*/
    --font-dm-sans: "DM sans", sans-serif
}
:root{
    /*COLOR*/
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0, 07);
    --bg-color: #242424;
    --fa-color: #a7a7a7;
    --fa-color12: #121212;
    --fa-colorb: #000;
    --text-base-light: white;
}
